@model    mvcProject.Models.Write
 
@{
    ViewBag.Title = "userPost";
    var post = ViewBag.post;
    var comment = ViewBag.comment;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
    <script src="~/Scripts/jquery-1.7.1.min.js"  type="text/javascript"></script>
     <script type="text/javascript">
         $(function () {
             $("#file").on("change", function () {
                 var file = this.files[0];
                 if (this.files && file) {
                     var reader = new FileReader();
                     reader.onload = function (e) {
                         $("#preview").attr('src', e.target.result);
                     }
                     reader.readAsDataURL(file);
                 }
             })
         })
         function Delete(id) {
             
             if (confirm("确定要删除？")) {
                 
                 url = " /User/Delete";
                 parameter = {id:id};
                 $.post(url,parameter);
                 alert("删除成功!");
                 window.location = "/User/postManage";
             }
         }
    </script>
    <script type="text/javascript">
        $(function () {
            
            $("#P_CONTENTS").html("@post.P_CONTENTS");
        });
    </script>
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

 <form method="post" enctype="multipart/form-data" style="width:90%;background-color:white;border-bottom:1px solid #ADADAD;height:100%-10px;margin-top:10px;overflow-y:auto">
          
     
        @Html.AntiForgeryToken()
       @Html.ValidationSummary()
        @Html.ValidationSummary(true)
         @*上*@
     <div class="Menu_style" style="height:60px;width:100%;background-color:white;margin:auto; border-bottom:1px solid gray">
                  <div style="width:100%; text-align:center;font-size:32px;font-weight:bold">            
                        <div class="SignFlowInput SignFlow-accountInputContainer">
         <label class="SignFlow-accountInput Input-wrapper">
            
            @Html.TextBoxFor(model => model.P_Title ,new { @class="Input"  , Value=@post.P_Title})
            @Html.ValidationMessageFor(model => model.P_Title)
            
            
         </label>
      </div>
                  <div style="width:100%;text-align:right;font-size:10px;color:#ADADAD;margin-right:20px">作者：@post.P_POSTER 时间：@post.P_DATETIME  </div>
	 </div>
               @*下*@
     <div style="width:100%;display:flex;justify-content: center; align-items: center;flex-direction:column">
         <div class="SignFlowInput SignFlow-accountInputContainer"  style="min-height:200px;margin-top:20px;width:100%">
         <label class="SignFlow-accountInput Input-wrapper " style="min-height:200px;width:100%">
             
            @Html.TextAreaFor(model => model.P_CONTENTS,new { @style="min-height:190px;width:100%;border: none;"})
            @Html.ValidationMessageFor(model=>model.P_CONTENTS)
         </label>
      </div>
          <div style="object-fit: scale-down;">
              <div style="display:">
               <img id="preview" src="~/unload/postPicture/@(post.P_PICTURE == "" ? "old.jpg" : @post.P_PICTURE)"  style="width:150px;height:150px;"/>
              </div>
              <div>
               <input id="file" type="file" name="file">
              </div>
          </div>
               
          
         <div style="display:flex;justify-content:space-between; align-items: center;;width:100%;text-align:right;font-size:10px;color:#ADADAD;border-bottom:1px solid gray;border-top:1px solid gray">
              <div>
              <input type="submit"   value="修改" style="width:100px;background-color:white;color:black" class="Button SearchBar-askButton Button--primary Button--blue"   />
    
              <input type="button"  onclick="Delete(@post.P_ID)" style="width:100px;background-color:red"   value="删除"  class="Button SearchBar-askButton Button--primary Button--blue"  />
 
              </div>
            
              点击数：@post.P_CLICK

         </div>
     @*评论*@
     <div style="width:100%;height:100%" >
         <form id="form1" action="/Home/postcomment" method="post"  id="registSubmit">
             <div style="width:100%; height:100px;display:flex;justify-content: center; align-items: center;border-bottom:1px solid gray;">
                 <div style="width:95%;height:90%;display:flex;flex-direction:row;  "  >
                     <div style="width: 90%;height: 100%"><input  style="width: 100%; height:96%;border:1px solid gray" name="comment"/></div>
                     <div style="width: 10%;height: 100%"><button id="btnSub" name="btnSub" onclick="getUserInfo()" name="btnSub" style="width: 100%; height:100%;border:0;background-color:blue;border:0;border-bottom-right-radius:1px;border-top-right-radius:1px" >提交</button></div>
@*                      
                    <textarea id="content1" runat="server" cols="80" rows="8" style="visibility: hidden;
                        width: 80%;max-height: 100%" placeholder="请输入正文不超过10000字"></textarea>&nbsp;</td>*@
                      
                 </div>
                  

             </div>
         </form>
        
         @foreach (var pc in comment)
         {
          <div style="width:100%;display:flex;justify-content: center; align-items:center;" id="pc1" name="pc1">
             <div style="width:95%;display:flex;flex-direction:column;border:1px solid red">
                 <div style="width:100%;height:25px; background-color:yellow; display:flex;flex-direction:row;align-items: center">
                     <div><img  style="width:25px;height:25px;border-radius:100%;background-color:red" src="~/unload/@pc.PC_PICTURE" /></div>
                      
                     <div style="text-align:left;font-size:10px;color:#ADADAD;margin-left:5px; ">@pc.PC_COMMENTER</div>
                     <div style="text-align:right;font-size:10px;color:#ADADAD;margin-left:5px; ">@pc.PC_DATETIME</div>
                 </div>
                 <div style="width:100%;font-size:15px;line-height:2em;margin-top:10px">@pc.PC_CONTENTS</div>
                 <div style="height:25px;border-bottom:1px solid gray;border-top:1px solid gray;display:flex;justify-content:end">
                     <div>赞&nbsp&nbsp</div>
                     <div>踩&nbsp&nbsp</div>

                 </div>
             </div>
             

         </div>
      }
        
     </div>
        
 </div>
     </form>

      

